<h2 class="flex justify-center bg-green-900 text-3xl text-white">
  Hello
  {{first_name}}, this is your disc bag. 
</h2>
<div class="container bg-green-900">
  {{#each discs}}
    <div class=" gap-4 pb-40"></div>

      <p class="bg-white">
        <ul>
          <li class="text-green-900 text-2xl">{{this.discs_name}}</li>
        </ul>
      </p>
    </div>
  {{/each}}
</div>