<h2 class="flex justify-center bg-green-900 text-3xl text-white">
  Hello
  {{first_name}}, this is your disc bag. 
</h2>
<div class="container bg-green-900">
  <div"grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-4 pb-40"></div>>
    
    {{#each discs}}
    <p class="text-white">
      {{this.discs_name}}
    </p>
    <p class="text-white">{{this.category.category_name}}</p>
    {{/each}}
  </div>

</div>